[Unit]
Description={{ service_name }} Signal CLI REST API
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/{{ app_service_name }}
Restart=always
RestartSec=10
Environment=SIGNAL_CLI_CONFIG_DIR=/opt/signal-api/data
Environment=MODE=normal
{% if app_port is defined %}
Environment=PORT={{ app_port }}
{% endif %}
Environment=HOST=0.0.0.0

[Install]
WantedBy=multi-user.target
